<div class="cont" id="holder">
    <div class="mycol" *ngFor="let im of images; let i = index" [class.first]="!i" [class.last]="i===images.length-1">
        <img 
            class="myimg spacetoscale"
            [src]="im.shown ? im.url : ''"
            (click)="openLightBox($event, im)"
            [ngStyle]="{

                'filter':(im.showing ? filtersFromBlur(im.bluramt):''),
                'z-index':(im.bluramt < .5 && im.bluramt > -0.5 ? '1' : '0'),
                'transform':scaleFromBlur(im.bluramt)
            }"
        >
    </div>
    <!-- <div class="fillercol">
        <a routerLink="/">Back</a>
    </div> -->
</div>
<div id="mylightBox" class="cont lightBox" [class.closed]="!lightBoxing">
    <div class="box">
        <img class="myimg" [src]="lightBoxed.url" (mousedown)="lightboxDown()" (mouseup)="lightboxUp()" (drag)="enhance($event)">
    </div>
    <div class="toolbox" [class.mini]="editing">
        <div class="tools" [class.mini]="editing">
            <div class="tool" [class.mini]="editing">
                <button class="closer" (click)="lightBoxing=false">
                    &#10799;
                </button>
                <button class="caret" disabled (click)="editing = !editing">
                    &#9650;
                </button>
            </div>
        </div>
    </div>
</div>
