<div class="container-fluid vh-100 p-0">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <!-- <img *ngFor="let im of images.slice(0,1); let i = index" [class.active]="!i" class="img-fluid" [src]="im[1] ? im[0] : ''" class="d-block mh-100 mw-100" alt="..."> -->
        <div id="carouselid" class="carousel slide fit" data-bs-ride="carousel" data-interval="false">
            <div class="carousel-inner h-100">
                <div class="carousel-item h-100" *ngFor="let im of images; let i = index" [class.active]="!i">
                    <img [src]="im[1] ? im[0] : ''" class="d-block mh-100 mw-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselid" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselid" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>