<div class="form-group">
    <input type="file"
           id="file"
           multiple
           (change)="fileSelected($event)">
    <input type="text" [(ngModel)]="albumName">
    <input type="button" value="upload" (click)="doUpload()">
    <input type="checkbox" value="true" [(ngModel)]="negative">
</div>
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Last Modified</th>
        <th scope="col">Selected</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orphan of orphans" (click)="toggleSelected(orphan.id)">
        <th scope="row">{{orphan.id}}</th>
        <td>{{orphan.LastModified.toLocaleString()}}</td>
        <td><input class="form-check-input" type="checkbox" [(ngModel)]="orphan.selected"></td>
        </tr>
    </tbody>
</table>
<input class="form-control" type="text" placeholder="Album Name" [(ngModel)]="typedName">
<!-- <select class="form-select" >
    <option>List matching existing albums</option>
</select> -->
<button type="button" class="btn btn-light" (click)="assignAlbumToSelected()">Assign Album</button>